body{
    margin: 0%;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    color: darkcyan;
    background: linear-gradient(to left bottom, lightgreen, lightblue) ;
}


.container{
       background: rgba(255, 255, 255, .3);  
       padding: 20px;
       box-shadow: 0 4px 10px rgba(0, 0, 0, .3);
       border-radius: 10px;
       width: 80%;
       max-width: 450px;
       min-width:350px ;
       display: flex;
       flex-direction: column;
       align-items: center;
}

.heading{
    font-size: 35px;

}

.temp-container{
         width: 100%;
         padding: 15px;
         font-weight: bold;
         font-size: 18px;

}

.input{
    width: 220px;
    font-family: monospace;
    padding: 5px;
    float: right;
    outline: none;
    background: rgba(255, 255, 255, .3);
    background-color: rgba(255, 255, 255, .5);
    color: green;
    font-size: 18px;
}

.input::placeholder{
    color: darkgray;
}

